.login_toggleMode {
  cursor: pointer;
  color: #0000ff;
}
.login_modal {
  text-align: center;
}
.login_reset {
  cursor: pointer;
}
.login_addIcon {
  cursor: pointer;
  color: gray;
}
.login_addIconLoaded {
  cursor: pointer;
  color: whitesmoke;
}
